extends layout

block content
	h1= title
	p Welcome to #{title}
	div
		p #{title} is a webpage for managing the speakers in a congress and viewing its information
		p The Spanish-Portuguese Relativity Meetings are annual conferences on General Relativity and Gravitation, that date back to 1977. They are organized each year by one of the different groups doing research on Relativity and Gravitation in Portugal and Spain.
		p The aim of this conference is to provide a forum for researchers and students to present their research results on the main areas of Relativity.
	a(href='/login') Log in
