extends layout

block content
	-	
		var invitedSpeakers = [
			"Enrique Álvarez (U. Autónoma de Madrid/IFT-UAM/CSIC)",
			"Eric Bergshoeff (U. Groningen)",
			"J. Antonio Font (U. Valencia)",
			"M. Ángeles Pérez García (U. Salamanca)",
			"Harvey Reall (Cambridge U.)",
			"Ted Jacobson (U. Maryland)",
			"Sheila Rowan (U. Glasgow)",
			"Danièle Steer (U. Paris Diderot)",
			"Nicolas Yunes (U. Montana)"]
		var scientificAdvisoryCommitee = [
			"Nathalie Deruelle (IHES, Bures-sur-Yvette, France)",
			"Ruth Durrer (U. of Geneva, Switzerland)",
			"Roberto Emparan (ICREA and U. Barcelona)",
			"Valeria Ferrari (INFN, Roma, Italy)",
			"Jorge Pullin (Louisiana State U., USA)",
			"José M.M. Senovilla (U. of the Basque Country, Spain)",
			"Alicia Sintes (U. de les Illes Ballears, Spain)",
			"Licia Verde (ICC, Spain)"]
		var organizingCommittee = [
			"Pablo Cano (IFT-UAM/CSIC)",
			"Samuele Chimento (IFT-UAM/CSIC)",
			"Patrick Meessen (U. Oviedo)",
			"Tomás Ortín (IFT-UAM/CSIC) Contact: Tomas.Ortin [AT] csic.es",
			"Alejandro Ruipérez (IFT-UAM/CSIC)"]
	h1= title
	div
		p.
			The Spanish-Portuguese Relativity Meeting #[a(href="http://www.segre.es/en/congresos.shtml") EREP] is the main meeting of researchers working on gravity and relativity in Portugal and Spain. It is backed by the #[strong Sociedad Española de Gravitación y Relatividad] (#[a(href="http://segre.es") SEGRE]) and by the #[strong Sociedade Portuguesa de Relatividade e Gravitação]  (#[a(href="https://sprg.tecnico.ulisboa.pt") SPRG]).

		p.
			The 2018 edition is organized by the Institute of Theoretical Physics (#[a(href="http://ift.uam-csic.es/en/front") IFT-UAM/CSIC]) and will take place in Palencia (Spain), the days 4, 5, 6 and 7 of September 2018. A small city with a long history which was home to the #[a(href="https://en.wikipedia.org/wiki/University_of_Palencia") first University in the Iberian Peninsula] (1212), where everthing is within walking distance and where there will be plenty of places and time to interact.

		p.
			We are planning an attractive scientific meeting with an attractive social and outreach program for all particpants.

		p.
			You can register and submit your abstract by clicking the button in the top right. #[strong Registration and abstract submission will be open from May 15th to August 15th.] Thanks to the generous contribution of the IFT's #[a(href="https://www.ift.uam-csic.es/severoochoa/en/introduction/") Severo Ochoa grant], and to the funds provided by the Network of Relativity and Gravitation (#[a(href="https://www.facebook.com/RedTRG/") RedTRG]) the registration fees will be quite modest: 
			ul
				li #[strong PhD students: 75€] 
				li #[strong Members of the IFT, SEGRE or SPGR: 130€] 
				li #[strong Other participants: 175€] 
			
		p.
			Furthermore, the SEGRE offers some limited financial support you can apply for by sending a message to the organizers (Tomas.Ortin [AT] csic.es)

		p.
			The workshop and this webpage are both under construction. Keep an eye on it for further developments.
			
		p.
			You can download the workshop's poster #[a(href="https://goo.gl/VYjh3d") here] (large PDF version) and #[a(href="https://goo.gl/v3VtBd") here] (small JPEG version)

	div.homepage-participants-wrapper
		div.homepage-participants
			div
				h2 Invited Speakers:
				ul
					each speaker in invitedSpeakers
						li #{speaker}
			div
				h2 Scientific Advisory Committee:
				ul
					each sci in scientificAdvisoryCommitee
						li #{sci}
			div
				h2 Organizing Committee:
				ul
					each org in organizingCommittee
						li #{org}
