extends layout

block content
	h2 Login
	if (error && error != '')
		span.error= error
	form(action='auth' method='post')
		div
			label Username:
			input(type='text' name='username')
		div
			label Password:
			input(type='password' name='password')
		div
			input(type='submit' value='Log In')