extends layout

block content

	h1 Practical information
	h2 Where and when
	p.
		The workshop's venue is the auditorium of the	
		#[a(href="https://bibliotecas.jcyl.es/web/jcyl/BibliotecaPalencia/es/Plantilla66y33/1284355840201/_/_/_") Biblioteca Pública (Public Library) de Palencia], in Calle  Eduardo Dato, 4, E-34005-Palencia, (#[a(href="https://goo.gl/maps/GYoaKChxfmm") see the map])

	p.
		The meeting will take place the 4, 5, 6 and 7 of September 2018. The afternoon of the 6 will be devoted to a social/cultural program to be announced.
						
	p.
		The full program of the meeting can be found [here].


	h2 How to arrive: 
	ol
		li By train
			p.
				#[strong Palencia] can be easily reached in less than 2	hours from #[strong Madrid-Chamartín Station]. There are more than 10 trains every day. We advise you to come by train from Madrid if you fly to Madrid. Tickets can be bought online at the #[a(href="http://www.renfe.com/") RENFE webpage].

			p.
				#[strong Madrid-Chamartín Station] can be reached by #[em Cercanías] train from #[strong Madrid-Barajas Airport] (#[strong Terminal 4 Station]) in 15 minutes.  There is a train every 20 minutes. Tickets can be bought at the	machines in the station. (If you have a Madrid-Palencia	ticket, the Barajas-Chamartín ticket can be obtained for free from those machines using the #[em Combinado de Cercanías] option). From other terminals you either go to Terminal 4 by bus or Metro (subway) or (more expensive) take the subway to #[strong Nuevos Ministerios] and then a Cercanías train from Nuevos Ministerios to Chamartín (again, free ticket in	Cercanías if you already hold a Madrid-Palencia ticket).

			p.
				From #[strong Barcelona] you can either fly to #[strong Valladolid-Villanubla Airport] (1 hour flight plus the usual controls), take the bus to the downtown railway station (30 minutes) and a train to Palencia (30-40 minutes) or the high speed train (AVE) from Barcelona to #[strong Madrid-Atocha Station] (3 hours), a Cercanías train from Atocha to Chamartín (free ticket again in the same conditions) (15 minutes) and another train from Chamartín to Palencia (1:50).
						
			p.
				From #[strong Valencia, Granada and Seville] an AVE can take you to #[strong Madrid-Atocha Railway Station]. Then, follow the directions above.

			p.
				From #[strong Santander, Bilbao or Oviedo] (these three places have flight connections to several cities in Europe, see below) you can either take the train (2-3 hours) or a bus (this is the best option from #[strong Bilbao] since there are very few connections every day).


		li By bus
			p.
				There are buses (#[em autocares]) from downtown Madrid (#[a(href="https://goo.gl/maps/ddrvoBJa99P2") Estacion Sur de Autobuses]) and directly from Madrid-Barajas Airport to downtown Palencia (3-4 hours). Tickets can be bought online at  #[a(href="http://www.alsa.es/") ALSA's webpage].
						
			p.
				There are bus connections from #[strong Santander, Burgos, León, Santiago de Compostela] and, via #[strong Valladolid]	or #[strong Madrid] with #[strong Porto], #[strong Lisbone] and other European destinations.

		li By car
			p.
				#[strong Palencia] is connected by freeway to #[strong Madrid] (via #[strong Tordesillas] and #[strong Valladolid], #[strong A-6] and #[strong A-62]), to #[strong Bilbao] (via #[strong Burgos	AP-1] and #[strong A-62]), to #[strong Santander] (#[strong A-67]), to #[strong Oviedo] (via #[strong León A-66] and #[strong A-231]), Santiago de Compostela (via #[strong Ourense], #[strong Verin] and #[strong Benavente], #[strong AP-53, AG-53, A-52] and #[strong N-610], which is not a freeway) and to #[strong Portugal]'s border at #[strong Fuentes de Oñoro] (via #[strong Ciudad Rodrigo], #[strong Salamanca] and #[strong Valladolid], #[strong A-62]) and #[strong Verin](see the route from #[strong Santiago	de Compostela]).
						
			p.
				#[strong Parking]: there are several free public parking lots not far from the center and the conference venue, but there are many safe places outside the center but close to it to leave the car (parking is limited in the center). Ask the organizers if you are interested in parking in the street for free.

		li By airplane
			p.
				The closest airport is the #[a(href="http://www.aena-aeropuertos.es/csee/ContentServer/Aeropuerto-Valladolid/es/") Valladolid-Villanubla Airport] (40 Kms from Palencia). #[strong Iberia, Ryanair and	Vueling] fly to and from #[strong Barcelona].
					
			p.
				Other airports in a 200 Kms radius are #[strong Madrid-Barajas], #[strong Bilbao], #[strong Santander] and #[strong Oviedo].


	h3 The following hotels offer rooms with free wifi at convenient prices for the participants in this workshop:
	ul
		li #[a(href="http://www.hotelcolon27.es/") Hotel Colón], a 2 star hotel at 700 meters from the railway station and 550 meters from the workshop's venue.
			ul
				li Single room, 30€
				li Double room, 35€
				li Triple room, 50€
				li Free craddle (upon request)
			p.
				To benefit from the offer, you can make the reservation by #[strong e-mail] #[a(href="mailto:hotelcolon@hotelcolon27.com") hotelcolon@hotelcolon27.com],  #[strong phone] +34979740700 or +34979740737, or #[strong Fax] +34979740720, quoting #[em EREP18 Conference].

		li #[a(href="http://www.hotelessuco.com/hotel-hotel-don-rodrigo.htm") Hotel Don Rodrigo, a 2 star hotel at 1000 meters from the railway station and 650 meters from the workshop's venue.]
			ul
				li Single room+breakfast 43€
				li Double room+breakfast 47€
			p.
				To benefit from the offer, you can make the reservation by #[strong phone] +34979700937 (afternoons)  quoting #[em EREP18 Conference].

		li #[a(href="http://www.hotelpalaciocongresos.com/") Hotel Palacio de Congresos, a 3 star hotel at 900 meters from the railway station and 1,100 meters from the workshop's venue.]
			ul
				li Single room+breakfast 47€
				li Double room+breakfast 56€
			p.
				To benefit from the offer, you can make the reservation by #[strong e-mail] #[a(href="mailto:h.congresos@hotelpalaciocongresos.com") h.congresos@hotelpalaciocongresos.com], or by #[strong phone] +34979100761 or #[strong Fax] +34979100762 quoting #[em EREP18 Conference].

		li #[a(href="http://www.hotelcastillavieja.com/en") Hotel Castilla Vieja], a 3 star hotel at 400 meters from the railway station and 300 meters from the workshop's venue.
			ul
				li Double room, single occupancy+breakfast (buffet) 63€
				li Double room, double occupancy+breakfast (buffet) 75€
			p.
				To benefit from the offer, you can make the reservation by #[strong e-mail] #[a(href="mailto:castillaviejareservas@hotelessuco.com") castillaviejareservas@hotelessuco.com], or by #[strong phone] +34979749044 or #[strong Fax] +34979747577 quoting #[em EREP18 Conference].

	h2 Things to do when the talks are over
	ol

		li Tourism
			p.
				The province of Palencia, including the city, has a large history reflected in many of #[a(href="http://www.visitarpalencia.com/?gclid=CMm7wKf6grsCFW_JtAod02gAwQ#%21castillos") castles], monuments, museums, #[a(href="http://www.visitarpalencia.com/?gclid=CMm7wKf6grsCFW_JtAod02gAwQ#%21monumentos-religiosos") churches] (in particular, many #[a(href="http://www.palenciaturismo.es/contenido/c3add75b-d5f4-11de-b283-fb9baaa14523?turistico=225c1d0d-a847-11de-a3d3-fb9baaa14523&amp;seccion=fbc4aa8b-d5f4-11de-b283-fb9baaa14523&amp;posicion=2&amp;lang=en") romanesque churches], archeological sites (with a few remarkable #[a(href="http://www.palenciaturismo.es/contenido/c3622849-d5f4-11de-b283-fb9baaa14523?seccion=fbb76418-d5f4-11de-b283-fb9baaa14523&amp;turistico=2d375970-a847-11de-a3d3-fb9baaa14523&amp;posicion=1") roman villas], specially the #[a(href="http://www.villaromanalaolmeda.com/") Villa de la Olmeda], highly recommendable), #[a(href="http://www.visitarpalencia.com/?gclid=CMm7wKf6grsCFW_JtAod02gAwQ#%21casas-y-palacios") palaces] etc.
			p.
				See, for instance:
			ul
				li #[a(href="http://www.palenciaturismo.es/portada?lang=en") Tourism in Palencia]
				li #[a(href="http://www.turismocastillayleon.com/turismocyl/en") Tourism in Castilla y León]
				li #[a(href="http://www.turismocastillayleon.com/turismocyl/en") A guide of castles and archeological sites of Castilla y León]
				li #[a(href="http://www.castillosdepalencia.es/index.html") A guide of castles in Palencia's province]

		li Hiking/biking
			p.
				The province is full of open spaces (partly because of the low population density) through which one can run, hike, bike etc. There many interesting routes in the northern mountains which range from easy family hikes to extreme climbing. The #[a(href="http://www.canaldecastilla.org/index.php") Channel of Castile], 170 Kms long, passes by the city and has very nice car-free tracks at each side where one can walrk, run or bike. 
			p.
				See, for instance:
			ul
				li #[a(href="http://www.montaña-palentina.com/") The northern mountain region (Montaña Palentina)]
				li #[a(href="http://www.palenciaturismo.es/contenido/c416d276-d5f4-11de-b283-fb9baaa14523?seccion=fbd3026e-d5f4-11de-b283-fb9baaa14523&seccionActual=0cafe08e-d5f5-11de-b283-fb9baaa14523&lang=en") The Montaña Palentina (English page)]
				li #[a(href="http://www.turismocastillayleon.com/cm/turcyl/tkContent?pgseed=1189159967451&amp;idContent=513814&amp;locale=es_ES&amp;textOnly=false") Hiking routes]
				li #[a(href="http://www.wikirutas.es/rutas/Castilla_y_Leon/Palencia/") Wikirutas: hiking routes]
				li #[a(href="http://es.senderators.com/rutas-senderismo:r:palencia") Senderator: hiking routes]
				li #[a(href="http://es.wikiloc.com/rutas/mountain-bike/espana/castilla-y-leon/palencia") Wikiloc: routes for mountain bikes]
		li Running
			p.
				For those of you interested in exercising, the organization will publish here some possible routes, easily accessible from the hotels and car-free.
		li Social life
			p.
				The city has a bar/cafeteria/restaurant for every 134 inhabitants and much of its social life takes place there. Some tips:		   	
			ul
				li #[a(href="http://www.guiadelocio.com/palencia/restaurantes") Restaurants in Palencia]
				li #[a(href="http://www.tripadvisor.es/Restaurants-g652127-Palencia_Province_of_Palencia_Castile_and_Leon.html") Restaurants in Palencia (Tripadvisor)]
				li #[a(href="http://www.viamichelin.es/web/Restaurantes/Restaurantes-Palencia-_-Palencia-Espana?strLocid=31NDEwZHExMGNOREl1TURFeU5EWT1jTFRRdU5UTXhNVGM9") Via Michelin]
				li #[a(href="https://www.pacomagazine.es/") Cultural activities in Palencia (Paco Magazine)]
