extends layout

block extraHead
	script(src='https://www.google.com/recaptcha/api.js')

block content
	h1 Sign up
	if (error)
		div.error= error
	form.registration(action='/registration' method='post')
		fieldset
			legend Personal data
			div
				label Title: 
				select(required name='title')
					- const titles = ['Dr.', 'Prof.', 'PhD Student']
					each title in titles
						option(value=title) #{title}
			div
				label First name: 
				input(required type='text' name='firstName')
			div
				label Family name: 
				input(required type='text' name='familyName')
			div
				label Phone number: 
				input.withValidity(required type='tel' name='phoneNumber')
				span.validity
		fieldset
			legend Affiliation
			div
				label Affiliation name:
				input(required type='text' name='affiliationName')
			div
				label Affiliation address:
				input(required type='text' name='affiliationAddress')
		fieldset
			legend Attendance
			div
				label Date of arrival:
				input.withValidity(required type='date' name='arrivalDate')
				span.validity
			div
				label Date of departure:
				input.withValidity(required type='date' name='departureDate')
				span.validity
		div.submitArea
			input(required type='submit' value='Sign Up')
			div.g-recaptcha(data-sitekey='6LfdlE4UAAAAAMihscIOb-jyf80G0uVNiDjuvXi4')