extends layout

block extraHead
	script(src='https://www.google.com/recaptcha/api.js')

block content
	h1 Registration
	if (error)
		div.error= error
	form.registration(action='registration' method='post')
		fieldset
			legend Personal data
			div
				label Title: 
				select(required name='title')
					- const titles = ['Dr.', 'Prof.', 'PhD Student']
					each title in titles
						option(value=title) #{title}
			div
				label First name: 
				input(required type='text' name='firstName')
			div
				label Family name: 
				input(required type='text' name='familyName')
			div
				label Email address: 
				input.withValidity(required type='email' name='email')
				span.validity
			div
				label Phone number: 
				input.withValidity(required type='tel' name='phoneNumber')
				span.validity
		fieldset
			legend Affiliation
			div
				label Affiliation:
				input(required type='text' name='affiliationName')
			div
				label Address:
				input(required type='text' name='affiliationAddress')
		fieldset
			legend Attendance
			div
				label Date of arrival:
				input.withValidity(required type='date' name='arrivalDate')
				span.validity
			div
				label Date of departure:
				input.withValidity(required type='date' name='departureDate')
				span.validity
		fieldset
			legend Additional information
			div
				label Comments for the organizer:
				textarea(cols='30' rows='3' name='additionalInfo')
		fieldset
			legend Talk
			div
				label Check the box if you want to submit an abstract
				input#toggleFields(type='checkbox' name='talkExists' onclick='setExtraFieldsVisibility()')

			#extraFields.extraFields.hidden
				div
					label Title:
					input(type='text' name='talkTitle')
				div
					label Abstract:
					textarea(rows='10' name='talkAbstract')
				div
					label Additional information:
					textarea(name='talkAdditionalInfo')
				p The committee's decisions on the abstracts submitted will be made shortly after the closure of the registration (August 15th).
		fieldset
			legend Payment
			p Please, follow #[a(href='https://eventos.uam.es/21080/detail/spanish-portuguese-relativity-meeting-2018-erepand39;18.html?private=2be9736b80fed550c043') this link] in order to make your payment (you will have to register again in this page) You can make your payment by credit card or bank transfer.
			p Pricing goes as follows:
			ul
				li PhD students: 75€
				li Members of the IFT, SEGRE or SPGR: 130€ 
				li Other participants: 175€
				li Conference dinner: 50€
			p.
				Your registration as participant will not be effective until your payment has been received.
				 Please allow for 1-2 additional days for your name to appear in the participant list.
		fieldset
			legend Grants
			p The SEGRE offers some limited financial support you can apply for.
			div
				label Check to apply
				input(type='checkbox' name='grantApplies')
			div
				label Explain here:
				textarea(rows='3' name='grantExplanation')
		div.submitArea
			input(required type='submit' value='Sign Up')
			div.g-recaptcha(data-sitekey='6Lf20FYUAAAAABL8atKfrVcyJq6VgZQNlIPRw796')