extends layout

block content
	p.
		The schedule of the meeting can be seen below (clicking on the speakers' names 
		you can see the titles and abstracts of the talks):
	iframe(style="border: solid 1px #777;" src="https://calendar.google.com/calendar/embed?mode=WEEK&amp;height=600&amp;wkst=2&amp;hl=en&amp;bgcolor=%23FFFFFF&amp;src=mcalkouh79hagdum39m6dj97dk%40group.calendar.google.com&amp;color=%2342104A&amp;ctz=Europe%2FMadrid" width="800" height="600" frameborder="0" scrolling="no")