extends layout

block extraHead
	script(src='https://www.google.com/recaptcha/api.js')

block content
	h1 Sign up
	if (error)
		div.error= error
	form(action='/signup' method='post')
		div
			label Username: 
			input(type='text' name='username')
		div
			label Password: 
			input(type='password' name='password')
		div
			input(type='submit' value='Sign Up')
		div.g-recaptcha(data-sitekey='6LfdlE4UAAAAAMihscIOb-jyf80G0uVNiDjuvXi4')