:root {
	--header-height: 70px;
	--footer-height: 200px;
	--header-image-size: calc(100vh / 2.4)/*300px*/;
}

html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	font: 14px 'Proza Libre', Helvetica, Arial, sans-serif;
	height: calc(calc(100% - var(--header-image-size)) - var(--header-height))
}

.bold {
	font-weight: bold;
}

div.bg-image {
	top: var(--header-height);
	left: 0;
	right: 0;
	height: var(--header-image-size);
	position: fixed;
	z-index: -1;
	background-image: url(/images/puentecillas.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}

a {
	color: inherit;
}


header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: var(--header-height);
}

header nav {
	padding: 0 20px;
	background: #fff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #000;
	box-shadow: 0 0 10px 1px #555;
	height: var(--header-height);
}

header nav h1 {
	font-family: 'Trocchi', serif;
	font-size: 2em;
	margin: 15px;
}

header a {
	text-decoration: none;
}

header ul.section-tabs {
	margin-left: auto;
}

header ul.section-tabs li {
	display: inline-block;
	margin: 0 10px;
	text-decoration: underline;
}

header div.current-session {
	margin-left: auto;
	display: flex;
	padding: 10px 20px;
	border: 1px solid #fff;
	align-items: center;
	flex-direction: column;
	align-items: flex-end;
}
header div.current-session a.login {
	white-space: nowrap;
	border: 1px solid #000;
	border-radius: 5px;
	padding: 5px 8px;
	background-color: #555;
	color: #fff;
}

header div.current-session a.logout {
	text-decoration: underline;
	color: #66f;
}

section.image-margin {
	margin-top: calc(var(--header-image-size) + var(--header-height));
}

section.no-image-margin {
	margin-top: var(--header-height);
}

section.main {
	min-height: calc(100% - var(--footer-height));
	background-color: #fff;
	margin-left: 0;
	margin-right: 0;
	box-shadow: 0 0 10px 1px #555;
}

section.main, footer {
	padding: 25px 50px;
	box-sizing: border-box;
}
footer {
	color: #fff;
	background-color: #333;
	height: var(--footer-height);
}

footer .sponsors-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	text-align: center;
}