:root {
	--header-height: 70px;
	--footer-height: 200px;
	--header-image-size: calc(100vh / 2.4)/*300px*/;
}

html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	font: 14px 'Proza Libre', Helvetica, Arial, sans-serif;
	height: calc(calc(100% - var(--header-image-size)) - var(--header-height))
}

.bold {
	font-weight: bold;
}

.error {
	display: inline-block;
	padding: 3px 5px;
	background-color: #fff6a8;
	border: 1px solid #dd0;
	border-radius: 5px;
}

div.bg-image {
	top: var(--header-height);
	left: 0;
	right: 0;
	height: var(--header-image-size);
	position: fixed;
	z-index: -1;
	background-image: url(/images/puentecillas.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}

a {
	color: inherit;
}


header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: var(--header-height);
}

header nav {
	padding: 0 20px;
	background: #fff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #000;
	box-shadow: 0 0 10px 1px #555;
	height: var(--header-height);
}

header nav h1 {
	font-family: 'Trocchi', serif;
	font-size: 2em;
	margin: 15px;
}

header a {
	text-decoration: none;
}

header ul.section-tabs {
	margin-left: auto;
}

header ul.section-tabs li {
	display: inline-block;
	margin: 0 10px;
	text-decoration: underline;
}

header div.current-session {
	margin-left: auto;
	display: flex;
	padding: 10px 20px;
	border: 1px solid #fff;
	align-items: center;
	flex-direction: column;
	align-items: flex-end;
}
header div.current-session a.login {
	white-space: nowrap;
	border: 1px solid #000;
	border-radius: 5px;
	padding: 5px 8px;
	background-color: #555;
	color: #fff;
}

header div.current-session a.logout {
	text-decoration: underline;
	color: #66f;
}

section.image-margin {
	margin-top: calc(var(--header-image-size) + var(--header-height));
}

section.no-image-margin {
	margin-top: var(--header-height);
}

section.main {
	min-height: calc(100% - var(--footer-height));
	background-color: #fff;
	margin-left: 0;
	margin-right: 0;
	box-shadow: 0 0 10px 1px #555;
}

form.signup {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

form.signup > fieldset {
	border: 1px solid #000;
	padding: 15px;
	margin: 10px auto;
	width: 50%;
}

form.signup > fieldset > legend {
	background-color: #444;
	color: #fff;
	padding: 3px 6px;
}

form.signup > fieldset > div {
	display: flex;
	align-items: center;
	justify-content: center;
}

form.signup > fieldset > div > * {
	margin: 0;
}

form input, form label {
	margin: 5px auto;
}

form.signup > fieldset > div > input, form.signup > fieldset > div > select{
	width: 75%;
	margin-right: 20px;
}

form.signup > fieldset > div > label {
	width: 25%;
	min-width: 130px;
	text-align: right;
	margin-right: 5px;
}

form.signup > fieldset > div > input.withValidity {
	margin-right: 0;
}

input+span:after {
	margin-left: 5px;
	width: 15px;
	display: inline-block;
}

input:invalid+span:after {
	content: '✖';
	color: #8b0000;
}

input:valid+span:after {
	content: '✓';
	color: #009000;
}

form.signup div.submitArea {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: calc(50% + 34px);
}

form.signup div.submitArea > * {
	margin: auto 5px;
}

input[type='submit'] {
	height: 76px;
	width: 130px;
	background-color: #444;
	color: #fff;
	font-size: 1.5em;
	border-radius: 3px;
	border: double 3px #fff;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.08);
}

section.main, footer {
	padding: 25px 50px;
	box-sizing: border-box;
}
footer {
	color: #fff;
	background-color: #333;
	height: var(--footer-height);
}

footer .sponsors-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	text-align: center;
}