:root {
	--header-height: 70px;
	--min-footer-height: 200px;
	--header-image-size: calc(100vh / 2.4)/*300px*/;
}

html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	font: 14px 'Montserrat', sans-serif;
	height: calc(calc(100% - var(--header-image-size)) - var(--header-height))
}

h1, h2, h3, h4, h5 {
	font-family: 'Scope One', serif;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

.bold {
	font-weight: bold;
}

.error {
	display: inline-block;
	padding: 3px 5px;
	background-color: #fff6a8;
	border: 1px solid #dd0;
	border-radius: 5px;
}

a.disabled {
	pointer-events: none;
}

div.disabled {
	cursor: not-allowed;
}

div.bg-image {
	top: var(--header-height);
	left: 0;
	right: 0;
	height: var(--header-image-size);
	position: fixed;
	z-index: -1;
	background-image: url(/images/puentecillas_200w.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}

a {
	color: inherit;
}


header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: var(--header-height);
	padding: 0 20px;
	background: #fff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #000;
	box-shadow: 0 0 10px 1px #555;
}

header h1 {
	font-family: 'Trocchi', serif;
	font-size: 2em;
	margin: 15px;
}

header nav {
	display: flex;
	flex-direction: row;
}

header a {
	text-decoration: none;
}

header ul.section-tabs {
	margin-left: auto;
	align-self: center;
}

#navicon {
	cursor: pointer;
	text-decoration: none;
	display: none;
	font-size: 2em;
}

header ul.section-tabs li {
	font-weight: bold;
	display: inline-block;
	margin: 0 10px;
	text-decoration: none;
}

header ul.section-tabs li a.disabled {
	color: #888;
}


div.current-session {
	align-self: center;
	margin-left: auto;
	display: flex;
	padding: 10px 20px;
	border: 1px solid #fff;
	align-items: center;
	flex-direction: column;
	align-items: flex-end;
}
div.current-session a.registration {
	white-space: nowrap;
	border: 1px solid #000;
	border-radius: 5px;
	padding: 5px 8px;
	background-color: #555;
	color: #fff;
}

div.current-session a.registration.disabled {
	background-color: #aaa;
	border-color: #555;
}

div.current-session a.logout {
	text-decoration: underline;
	color: #66f;
}

section.image-margin {
	margin-top: calc(var(--header-image-size) + var(--header-height));
}

section.no-image-margin {
	margin-top: var(--header-height);
}

section.main {
	display: flex;
	flex-direction: column;
	text-align: justify;
	min-height: calc(100vh - var(--min-footer-height));
	background-color: #fff;
	margin-left: 0;
	margin-right: 0;
	box-shadow: 0 0 10px 1px #555;
}

section.not-found {
	margin: auto;
	align-self: center;
	text-align: center;
	height: 100%;
	display: flex;
  	justify-content: center;
  	align-items: center;
}

section.not-found h1 {
	font-size: 9em;
	margin: 10px auto;
}

div.homepage-participants-wrapper {
	text-align: center;
}

div.homepage-participants {
	padding: 10px;
	display: inline-block;
}

div.homepage-participants div {
	margin: 3em auto 5em auto;
}

div.homepage-participants h2 {
	text-align: center;
}

div.homepage-participants ul {
	text-align: left;
	font-weight: normal;
}

div.homepage-participants ul li {
	margin-bottom: 4px;
}

form.signup {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

form.signup > fieldset {
	border: 1px solid #000;
	padding: 15px;
	margin: 10px auto;
	width: 50%;
}

form.signup > fieldset > legend {
	background-color: #444;
	color: #fff;
	padding: 3px 6px;
}

form.signup > fieldset > div {
	display: flex;
	align-items: center;
	justify-content: center;
}

form.signup > fieldset > div > * {
	margin: 0;
}

form input, form label {
	margin: 5px auto;
}

form.signup > fieldset > div > input, form.signup > fieldset > div > select{
	width: 75%;
	margin-right: 20px;
}

form.signup > fieldset > div > label {
	width: 25%;
	min-width: 130px;
	text-align: right;
	margin-right: 5px;
}

form.signup > fieldset > div > input.withValidity {
	margin-right: 0;
}

input+span:after {
	margin-left: 5px;
	width: 15px;
	display: inline-block;
}

input:invalid+span:after {
	content: '✖';
	color: #8b0000;
}

input:valid+span:after {
	content: '✓';
	color: #009000;
}

form.signup div.submitArea {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: calc(50% + 34px);
}

form.signup div.submitArea > * {
	margin: auto 5px;
}

input[type='submit'] {
	height: 76px;
	width: 130px;
	background-color: #444;
	color: #fff;
	font-size: 1.5em;
	border-radius: 3px;
	border: double 3px #fff;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.08);
}

section.main, footer {
	padding: 1.5em 4em;
	box-sizing: border-box;
}
footer {
	color: #fff;
	background-color: #333;
	min-height: var(--min-footer-height);
}

footer .sponsors-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 1em;
	grid-row-gap: 1em;
	text-align: center;
}

footer .sponsors-grid a {
	display: flex;
	align-items: center;
}

footer .sponsors-grid img {
	max-width: 100%;
}

@media screen and (max-width: 600px), 
(max-width: 375px) and (-webkit-min-device-pixel-ratio: 2), 
(max-width: 375px) and (min-resolution: 2dppx) {
	section.main, footer {
		padding: 0.5em 1.3em;
	}
	footer .sponsors-grid {
		justify-content: center;
		grid-template-columns: repeat(1, 0.50fr);
	}
}

/* Show the mobile view to portrait + landscape mobile */
@media screen and (max-width: 667px), 
(max-width: 667px) and (-webkit-min-device-pixel-ratio: 2), 
(max-width: 667px) and (min-resolution: 2dppx) {
	:root {
		--header-height: 50px;
		--header-image-size: calc(100vh / 4.4)
	}
	body {
		font-size: 12px;
	}
	div.current-session {
		margin: 0;
		padding: 0;
	}
	div.current-session > div, div.current-session > a {
		align-self: center;
		text-align: center;
		font-size: 1.5em;
		padding: 0.5em;
	}
	header nav {
		display: flex;
		position: absolute;
		flex-direction: column;
		top: var(--header-height);
		right: 0;
		width: 100%;
		background-color: #fff;
		border-bottom: 1px solid #000;
		box-shadow: 0 5px 15px 0 #aaa;
	}
	header nav.hidden {
		display: none;
	}
	header nav > * {
		width: 100%;
		margin: 5px 0;
		padding: 0;
	}
	header ul.section-tabs li {
		margin: 0;
		display: block;
		position: relative;
		text-decoration: none;
		padding: 0.5em;
		text-align: center;
		font-size: 1.5em;
	}
	header ul.section-tabs li:hover, header ul.section-tabs li:active {
		color: #fff;
		background-color: #555;
	}
	header ul.section-tabs li::after {
		position: absolute;
		content: '';
        height: 1px;
        bottom: 0;
		margin: 0 auto;
		left: 0;
		right: 0;
		width: 50%;
		background: #aaa;
	}
	#navicon {
		display: block;
	}
}

@media screen and (min-width: 1280px) {
	footer .sponsors-grid {
		grid-template-columns: repeat(5, 1fr);
	}
}

/* INDEX IMAGE SIZES */
@media (min-width: 300px) { 
	div.bg-image {
		background-image: url(/images/puentecillas_429w.jpg);
	}
}
@media (min-width: 300px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 300px) and (min-resolution: 2dppx) { 
	div.bg-image {
		background-image: url(/images/puentecillas_828w.jpg);
	}
}
@media (min-width: 430px) { 
	div.bg-image {
		background-image: url(/images/puentecillas_828w.jpg);
	}
}
@media (min-width: 430px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 430px) and (min-resolution: 2dppx) { 
	div.bg-image {
		background-image: url(/images/puentecillas_1198w.jpg);
	}
}
@media (min-width: 829px) { 
	div.bg-image {
		background-image: url(/images/puentecillas_1198w.jpg);
	}
}
@media (min-width: 829px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 829px) and (min-resolution: 2dppx) { 
	div.bg-image {
		background-image: url(/images/puentecillas_1400w.jpg);
	}
}
@media (min-width: 1199px) { 
	div.bg-image {
		background-image: url(/images/puentecillas_1400w.jpg);
	}
}
@media (min-width: 1199px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 1199px) and (min-resolution: 2dppx) { 
	div.bg-image {
		background-image: url(/images/puentecillas.jpg);
	}
}
@media (min-width: 1401px) { 
	div.bg-image {
		background-image: url(/images/puentecillas.jpg);
	}
}