doctype html
html
	body
		h2 Your registration has been approved!
		p Dear #{participant.personalData.firstName}:
		p.
			We are happy to announce the approval of your registration request for the 
			2018 Spanish-Portuguese Relativist Meeting!
		p.
			As you know, it will take place in Palencia (Spain) the days 4, 5, 6 and 7 of September 2018. You can direct any questions to #[a(href='mailto:tomas.ortin@csic.es') tomas.ortin@csic.es] 
		p See you in Palencia!
		p Best, #[b The organizing commitee]